@import url('https://rsms.me/inter/inter.css');

html, body {
    margin: 0;
    background-color:#121212;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
}

#background {
    background-image: url('https://assets.codepen.io/5515635/movie-watchlist-andre-tan-sm_1.jpg');
    background-size: cover;
    background-position: 50% 15%;
    background-color: #8c8c8c;
    background-blend-mode: multiply;
}

/* header */

#header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 50%;
    margin: auto;
    padding: 125px 0;
}

h2 {
    font-size: 42px;
    margin: 0;
    font-weight: 800;
}

/* link styling */

a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #838383;
}

#empty-watchlist-link {
    text-decoration: underline;
    font-size: 24px;
}

/* search results */

#movies {
    display: flex;
    flex-direction: column;
}

#placeholder {
    color: rgb(110, 110, 110);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa {
    font-size: 200px;
}

.fa-magnifying-glass{
    font-size: 48px;
}

#placeholder p {
    font-size: 24px;
    text-align: center;
}

/* movie search results */

hr {
    width: 70%;
    color: #A5A5A5;
    margin: 20px auto;
}

.movie-card {
    position: relative;
    width: 60%;
    display: flex;
    margin: auto;
    align-items: center;
}

.movie-img {
    height: 200px;
    margin: auto 30px;
}

.movie-info {
    display: flex;
    margin: auto;
    flex-direction: column;
}

.movie-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.fa-solid {
    margin: 12px 0;
}